In [ ]:
from tweetopic import TopicPipeline, DMM
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.pipeline import Pipeline

# Creating a vectorizer for extracting document-term matrix from the
# text corpus.
vectorizer = CountVectorizer(min_df=15, max_df=0.1)

# Creating a Dirichlet Multinomial Mixture Model with 30 components
dmm = DMM(n_components=30, n_iterations=100, alpha=0.1, beta=0.1)

# Creating topic pipeline
pipeline = Pipeline([
    ("vectorizer", vectorizer),
    ("dmm", dmm),
])

In [ ]:
pipeline = TopicPipeline(vectorizer, dmm)

In [ ]:
pipeline.fit(content)

Calculating unique words.
Initialising mixture components
Fitting model
 Iteration 0/100: transferred 139601 documents,30 clusters remain populated.
 Iteration 1/100: transferred 82259 documents,30 clusters remain populated.
 Iteration 2/100: transferred 50724 documents,30 clusters remain populated.
 Iteration 3/100: transferred 38483 documents,30 clusters remain populated.
 Iteration 4/100: transferred 33277 documents,30 clusters remain populated.
 Iteration 5/100: transferred 30169 documents,30 clusters remain populated.
 Iteration 6/100: transferred 28369 documents,30 clusters remain populated.
 Iteration 7/100: transferred 27176 documents,30 clusters remain populated.
 Iteration 8/100: transferred 26491 documents,30 clusters remain populated.
 Iteration 9/100: transferred 26052 documents,30 clusters remain populated.
 Iteration 10/100: transferred 25455 documents,30 clusters remain populated.
 Iteration 11/100: transferred 24856 documents,30 clusters remain populated.
 Iteration 12/100: transferred 24544 documents,30 clusters remain populated.
 Iteration 13/100: transferred 24113 documents,30 clusters remain populated.
 Iteration 14/100: transferred 23846 documents,30 clusters remain populated.
 Iteration 15/100: transferred 23816 documents,30 clusters remain populated.
 Iteration 16/100: transferred 23722 documents,30 clusters remain populated.
 Iteration 17/100: transferred 23630 documents,30 clusters remain populated.
 Iteration 18/100: transferred 23236 documents,30 clusters remain populated.
 Iteration 19/100: transferred 23122 documents,30 clusters remain populated.
 Iteration 20/100: transferred 22931 documents,30 clusters remain populated.
 Iteration 21/100: transferred 22985 documents,30 clusters remain populated.
 Iteration 22/100: transferred 22873 documents,30 clusters remain populated.
 Iteration 23/100: transferred 22831 documents,30 clusters remain populated.
 Iteration 24/100: transferred 22595 documents,30 clusters remain populated.
 Iteration 25/100: transferred 22624 documents,30 clusters remain populated.
 Iteration 26/100: transferred 22652 documents,30 clusters remain populated.
 Iteration 27/100: transferred 22479 documents,30 clusters remain populated.
 Iteration 28/100: transferred 22267 documents,30 clusters remain populated.
 Iteration 29/100: transferred 22376 documents,30 clusters remain populated.
 Iteration 30/100: transferred 22430 documents,30 clusters remain populated.
 Iteration 31/100: transferred 22310 documents,30 clusters remain populated.
 Iteration 32/100: transferred 22285 documents,30 clusters remain populated.
 Iteration 33/100: transferred 22145 documents,30 clusters remain populated.
 Iteration 34/100: transferred 22089 documents,30 clusters remain populated.
 Iteration 35/100: transferred 22219 documents,30 clusters remain populated.
 Iteration 36/100: transferred 22049 documents,30 clusters remain populated.
 Iteration 37/100: transferred 22215 documents,30 clusters remain populated.
 Iteration 38/100: transferred 21956 documents,30 clusters remain populated.
 Iteration 39/100: transferred 21842 documents,30 clusters remain populated.
 Iteration 40/100: transferred 21796 documents,30 clusters remain populated.
 Iteration 41/100: transferred 21609 documents,30 clusters remain populated.
 Iteration 42/100: transferred 21405 documents,30 clusters remain populated.
 Iteration 43/100: transferred 21373 documents,30 clusters remain populated.
 Iteration 44/100: transferred 21401 documents,30 clusters remain populated.
 Iteration 45/100: transferred 21497 documents,30 clusters remain populated.
 Iteration 46/100: transferred 21198 documents,30 clusters remain populated.
 Iteration 47/100: transferred 21236 documents,30 clusters remain populated.
 Iteration 48/100: transferred 21193 documents,30 clusters remain populated.
 Iteration 49/100: transferred 21090 documents,30 clusters remain populated.
 Iteration 50/100: transferred 21203 documents,30 clusters remain populated.
 Iteration 51/100: transferred 21093 documents,30 clusters remain populated.
 Iteration 52/100: transferred 21127 documents,30 clusters remain populated.
 Iteration 53/100: transferred 21225 documents,30 clusters remain populated.
 Iteration 54/100: transferred 21135 documents,30 clusters remain populated.
 Iteration 55/100: transferred 20985 documents,30 clusters remain populated.
 Iteration 56/100: transferred 20964 documents,30 clusters remain populated.
 Iteration 57/100: transferred 20885 documents,30 clusters remain populated.
 Iteration 58/100: transferred 20687 documents,30 clusters remain populated.
 Iteration 59/100: transferred 20821 documents,30 clusters remain populated.
 Iteration 60/100: transferred 20958 documents,30 clusters remain populated.
 Iteration 61/100: transferred 21030 documents,30 clusters remain populated.
 Iteration 62/100: transferred 21167 documents,30 clusters remain populated.
 Iteration 63/100: transferred 21007 documents,30 clusters remain populated.
 Iteration 64/100: transferred 20939 documents,30 clusters remain populated.
 Iteration 65/100: transferred 21012 documents,30 clusters remain populated.
 Iteration 66/100: transferred 20894 documents,30 clusters remain populated.
 Iteration 67/100: transferred 20860 documents,30 clusters remain populated.
 Iteration 68/100: transferred 21005 documents,30 clusters remain populated.
 Iteration 69/100: transferred 21100 documents,30 clusters remain populated.
 Iteration 70/100: transferred 21210 documents,30 clusters remain populated.
 Iteration 71/100: transferred 21114 documents,30 clusters remain populated.
 Iteration 72/100: transferred 21070 documents,30 clusters remain populated.
 Iteration 73/100: transferred 21052 documents,30 clusters remain populated.
 Iteration 74/100: transferred 20906 documents,30 clusters remain populated.
 Iteration 75/100: transferred 21056 documents,30 clusters remain populated.
 Iteration 76/100: transferred 20971 documents,30 clusters remain populated.
 Iteration 77/100: transferred 21029 documents,30 clusters remain populated.
 Iteration 78/100: transferred 20914 documents,30 clusters remain populated.
 Iteration 79/100: transferred 20761 documents,30 clusters remain populated.
 Iteration 80/100: transferred 20695 documents,30 clusters remain populated.
 Iteration 81/100: transferred 20774 documents,30 clusters remain populated.
 Iteration 82/100: transferred 20700 documents,30 clusters remain populated.
 Iteration 83/100: transferred 20699 documents,30 clusters remain populated.
 Iteration 84/100: transferred 20800 documents,30 clusters remain populated.
 Iteration 85/100: transferred 20834 documents,30 clusters remain populated.
 Iteration 86/100: transferred 20574 documents,30 clusters remain populated.
 Iteration 87/100: transferred 20617 documents,30 clusters remain populated.
 Iteration 88/100: transferred 20524 documents,30 clusters remain populated.
 Iteration 89/100: transferred 20530 documents,30 clusters remain populated.
 Iteration 90/100: transferred 20511 documents,30 clusters remain populated.
 Iteration 91/100: transferred 20590 documents,30 clusters remain populated.
 Iteration 92/100: transferred 20473 documents,30 clusters remain populated.
 Iteration 93/100: transferred 20468 documents,30 clusters remain populated.
 Iteration 94/100: transferred 20495 documents,30 clusters remain populated.
 Iteration 95/100: transferred 20584 documents,30 clusters remain populated.
 Iteration 96/100: transferred 20581 documents,30 clusters remain populated.
 Iteration 97/100: transferred 20560 documents,30 clusters remain populated.
 Iteration 98/100: transferred 20616 documents,30 clusters remain populated.
 Iteration 99/100: transferred 20464 documents,30 clusters remain populated.

TopicPipeline(vectorizer=CountVectorizer(max_df=0.1, min_df=15), topic_model=DMM(n_components=30, n_iterations=100))

In [ ]:
pipeline.top_words(top_n=3)

[{'tw': 3353.0, 'sydney': 1050.0, 'centre': 709.0},
 {'canberra': 1144.0, 'territory': 800.0, 'capital': 570.0},
 {'brisbane': 1902.0, 'queenland': 1241.0, 'airport': 1212.0},
 {'and': 625.0, 'for': 625.0, 'our': 515.0},
 {'of': 2679.0, 'and': 2447.0, 'signup': 1947.0},
 {'km': 4512.0, 'wind': 4293.0, 'hpa': 4293.0},
 {'queensland': 2906.0, 'coast': 1920.0, 'western': 1731.0},
 {'de': 588.0, 'sydney': 350.0, 'foto': 323.0},
 {'gallery': 372.0, 'chinaheightsgallery': 298.0, 'chinaheights': 293.0},
 {'our': 3345.0, 'job': 2979.0, 'for': 2683.0},
 {'bong': 27783.0, 'kealba': 2.0, 'mparntwe': 1.0},
 {'by': 4803.0, 'drinking': 4714.0, 'beeroclock': 1791.0},
 {'closed': 5681.0, 'victrafficvictraffic': 3983.0, 'lanes': 3577.0},
 {'sydney': 5113.0, 'nsw': 958.0, 'harbour': 363.0},
 {'vk': 8476.0, 'on': 2655.0, 'pts': 1755.0},
 {'south': 5952.0, 'new': 4746.0, 'wales': 4547.0},
 {'and': 1086.0, 'amp': 817.0, 'with': 745.0},
 {'lu': 3612.0, 'brisbane': 2915.0, 'marsden': 2866.0},
 {'haarlemaustralia': 667.0, 'rose': 597.0, 'painting': 537.0},
 {'and': 6149.0, 'of': 4586.0, 'for': 4503.0},
 {'wheatybands': 246.0, 'and': 190.0, 'pm': 184.0},
 {'melbourne': 278.0, 'music': 247.0, 'for': 245.0},
 {'football': 773.0, 'soccer': 643.0, 'club': 515.0},
 {'adelaide': 802.0, 'from': 292.0, 'place': 262.0},
 {'lock': 3214.0, 'dss': 2294.0, 'off': 1787.0},
 {'victoria': 5926.0, 'melbourne': 5276.0, 'park': 1028.0},
 {'up': 593.0, 'of': 497.0, 'and': 367.0},
 {'living': 786.0, 'high': 761.0, 'smith': 732.0},
 {'beach': 1402.0, 'queensland': 931.0, 'park': 913.0},
 {'melbourne': 594.0, 'victoria': 411.0, 'lovelovelove': 324.0}]

In [ ]:
from gsdmm import MovieGroupProcess
mgp = MovieGroupProcess(K=8, alpha=0.1, beta=0.1, n_iters=30)

In [120]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import json
import re
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

stop = stopwords.words('english')
def panduan(i):
    if i>=0.05:
        s='Positive'
    elif i<= -0.05:
        s='Negative'
    else:
        s='Neutral'
    return s

def sentiment_scores(sentence_list):
	# Create a SentimentIntensityAnalyzer object.
	sid_obj = SentimentIntensityAnalyzer()
	sentiment=[]
	for sentence in sentence_list:
		sentence_dict = sid_obj.polarity_scores(sentence)
		sentiment.append(sentence_dict['compound'])
	return sentiment
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()
lgbt=['genderqueer','pansexual','asexual','intersex','two-spirit','closeted','out and proud','lgbt','lgbtq','pride','ally','queer','gay','lesbian','bisexual','transgender','non-binary','coming out','same-sex','homophobia','heteronormativity','rainbow','stonewall','out and proud','genderfluid','' ]
transport=['car','shipping','park','bicycle','subway','metro','train','tram','airport','bridge','road','lane','intersection','vehicle','transport','public transportation','commute','driver','passenger','traffic','highway','accident','crash','one-way','station','crowd','crossing','speed']
rent=['rental insurance','rental application','agent','lease','property','application','occupancy','inspection','rental market','utility','sublease','deposit','rent','tenant','landlord','accommodation','apartment','house','studio','1b1b','2b1b','2b2b']
lgbt = [lemmatizer.lemmatize(token) for token in lgbt]
lgbt = [stemmer.stem(token) for token in lgbt]
transport = [lemmatizer.lemmatize(token) for token in transport]
transport = [stemmer.stem(token) for token in transport]
rent = [lemmatizer.lemmatize(token) for token in rent]
rent = [stemmer.stem(token) for token in rent]
# lgbt=['lgbt','lgbtq','pride','ally','queer','gay','lesbian','bisexual','transgender','non-binary','coming out','same-sex','homophobia','heteronormativity','rainbow','stonewall' ]
def text_similarity(text1):
    s=text1.lower()
    # Delete the @
    s = re.sub(r"@[A-Za-z0-9]+", ' ', s)
    # Delete URL links
    s = re.sub(r"https?://[A-Za-z0-9./]+", ' ', s)
    # Just keep letters and important punctuation
    s = re.sub(r"[^a-zA-Z']", ' ', s)
    # Remove additional spaces
    s = re.sub(r" +", ' ', s)
    s=' '.join( [w for w in s.split() if len(w)>1] )
    s = re.sub(r'[^\w\s]', '', s)
    # Tokenize and lemmatize the texts
    tokens1 = word_tokenize(s)
    # tokens2 = word_tokenize(text2)
    lemmatizer = WordNetLemmatizer()
    stemmer = PorterStemmer()
    tokens1 = [lemmatizer.lemmatize(token) for token in tokens1]
    tokens1 = [stemmer.stem(token) for token in tokens1]
    # Remove stopwords
    stop_words = stopwords.words('english')
    tokens1 = [token for token in tokens1 if token not in stop_words]
    c = 0
    if any(keyword in tokens1 for keyword in lgbt):
        c=1
    elif any(keyword in tokens1 for keyword in transport):
        c=2
    elif any(keyword in tokens1 for keyword in rent):
        c=3
    
    return c

def clean_twitter(s):
    s=s.lower()
    # Delete the @
    s = re.sub(r"@[A-Za-z0-9]+", ' ', s)
    # Delete URL links
    s = re.sub(r"https?://[A-Za-z0-9./]+", ' ', s)
    # Just keep letters and important punctuation
    s = re.sub(r"[^a-zA-Z.!?']", ' ', s)
    # Remove additional spaces
    s = re.sub(r" +", ' ', s)
    s=" ".join([word for word in s.split() if word not in (stop)])
    stemmer = PorterStemmer()
    lemmatizer = WordNetLemmatizer()
    for word in s:
          stemmer.stem(word)
          lemmatizer.lemmatize(word) 
    cleaned_s=' '.join( [w for w in s.split() if len(w)>1] )
    return cleaned_s

def clean(s):
    a=s
    if '\"' in s:
        delimiter = '"'
        a=s.split(delimiter)[0]
    a=s.split(",")[0]
    return a

[nltk_data] Downloading package stopwords to /Users/Demi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [121]:
import pandas as pd
import json,re

json_file_path='/Users/demi/Desktop/ccc_asm2/twitter_cityname.json'
topic=[]
cityname=[]
content=[]
# sentiment=[]
for line in open(json_file_path, 'r'):
    item=json.loads(line)
    cityname.append((clean(item['cityname'])))
    content.append(clean_twitter(item['content']))
    # sentiment.append(item['sentiment'])
    topic.append(text_similarity(item['content']))
# df=pd.DataFrame({'cityname':cityname,'sentiment':sentiment,'topic':topic})
df0=pd.DataFrame({'cityname':cityname,'topic':topic,'sentiment':sentiment_scores(content)})

In [122]:
aucity={'Sydney':[-33.8688, 151.2093],'Melbourne':[-37.8136, 144.9631],'Brisbane':[-27.4698, 153.0251],'Perth':[-31.9505, 115.8605],'Adelaide':[34.9285, 138.6007],'Gold Coast':[-28.0167, 153.4000],'Canberra':[-35.2809, 149.1300],'Newcastle':[-32.9167, 151.7500],'Hobart':[-42.8821, 147.3272],'Darwin':[-12.4634, 130.8456],'Cairns':[-16.9186, 145.7781],'Rockhampton':[-23.3774,150.5100],'Bunbury':[-33.3271,115.6414],'Sunshine Coast':[-26.6500,153.0667],'Toowoomba':[-27.5600, 151.9500],'Geelong':[-38.1499, 144.3617],'Townsville':[-19.2589, 146.8169],'Launceston':[-41.4545, 147.1317],'Ballarat':[-37.5622, 143.8503],'Bendigo':[-36.7589, 144.2822],'Mandurah':[-32.5361,115.7424],'Mackay':[21.1534, 149.1658],'Albury':[-36.0737,146.9135]}

In [123]:

df_au=df0[df0['cityname'].isin(aucity.keys())]
df_au['coordinate']=[aucity[i] for i in df_au['cityname']]
df_au

/var/folders/q1/7fhq9ggs78g6wf7c38dhzh9h0000gn/T/ipykernel_42680/269927542.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_au['coordinate']=[aucity[i] for i in df_au['cityname']]

            cityname  topic  sentiment            coordinate
0          Melbourne      0     0.0000  [-37.8136, 144.9631]
1          Melbourne      0     0.0000  [-37.8136, 144.9631]
2        Rockhampton      0     0.8928    [-23.3774, 150.51]
3         Gold Coast      0     0.7269     [-28.0167, 153.4]
4          Toowoomba      0     0.0000      [-27.56, 151.95]
...              ...    ...        ...                   ...
3233507     Brisbane      0     0.6124  [-27.4698, 153.0251]
3233508       Sydney      0     0.3182  [-33.8688, 151.2093]
3233509       Sydney      0    -0.2023  [-33.8688, 151.2093]
3233510    Melbourne      0     0.9538  [-37.8136, 144.9631]
3233511        Perth      0     0.0000  [-31.9505, 115.8605]

[2485020 rows x 4 columns]

In [129]:
combined_df = pd.concat([df_au, df1], axis=0, ignore_index=True)
combined_df

            cityname  topic  sentiment            coordinate
0          Melbourne      0     0.0000  [-37.8136, 144.9631]
1          Melbourne      0     0.0000  [-37.8136, 144.9631]
2        Rockhampton      0     0.8928    [-23.3774, 150.51]
3         Gold Coast      0     0.7269     [-28.0167, 153.4]
4          Toowoomba      0     0.0000      [-27.56, 151.95]
...              ...    ...        ...                   ...
2492136     Adelaide      1     0.7717   [34.9285, 138.6007]
2492137    Melbourne      1     0.0000  [-37.8136, 144.9631]
2492138   Gold Coast      1     0.0000     [-28.0167, 153.4]
2492139    Melbourne      1     0.3612  [-37.8136, 144.9631]
2492140       Sydney      1    -0.8439  [-33.8688, 151.2093]

[2492141 rows x 4 columns]

In [132]:
combined_df = pd.concat([combined_df, df2], axis=0, ignore_index=True)
combined_df

            cityname  topic  sentiment            coordinate
0          Melbourne      0     0.0000  [-37.8136, 144.9631]
1          Melbourne      0     0.0000  [-37.8136, 144.9631]
2        Rockhampton      0     0.8928    [-23.3774, 150.51]
3         Gold Coast      0     0.7269     [-28.0167, 153.4]
4          Toowoomba      0     0.0000      [-27.56, 151.95]
...              ...    ...        ...                   ...
2500619       Sydney      2     0.0000  [-33.8688, 151.2093]
2500620    Melbourne      2     0.8807  [-37.8136, 144.9631]
2500621       Sydney      2     0.0000  [-33.8688, 151.2093]
2500622        Perth      2     0.0000  [-31.9505, 115.8605]
2500623     Brisbane      2     0.4404  [-27.4698, 153.0251]

[2500624 rows x 4 columns]

In [135]:
combined_df = pd.concat([combined_df, df3], axis=0, ignore_index=True)
combined_df

            cityname  topic  sentiment            coordinate
0          Melbourne      0     0.0000  [-37.8136, 144.9631]
1          Melbourne      0     0.0000  [-37.8136, 144.9631]
2        Rockhampton      0     0.8928    [-23.3774, 150.51]
3         Gold Coast      0     0.7269     [-28.0167, 153.4]
4          Toowoomba      0     0.0000      [-27.56, 151.95]
...              ...    ...        ...                   ...
2516563       Mackay      3     0.0000   [21.1534, 149.1658]
2516564       Sydney      3    -0.4767  [-33.8688, 151.2093]
2516565       Sydney      3     0.2023  [-33.8688, 151.2093]
2516566       Sydney      3    -0.7906  [-33.8688, 151.2093]
2516567       Cairns      3    -0.4939  [-16.9186, 145.7781]

[2516568 rows x 4 columns]

In [ ]:
# import os
# grouped_df = df_au.groupby('cityname')
# json_file_path = '/Users/demi/Desktop/ccc_asm2/'

# # Define the output directory
# output_directory = '/Users/demi/Desktop/ccc_asm2/output'

# # Create the output directory if it doesn't exist
# if not os.path.exists(output_directory):
#     os.makedirs(output_directory)

# # Save each group to separate JSON files in the output directory
# for state, state_data in grouped_df:
#     filename = f"{state}.json"
#     filepath = os.path.join(output_directory, filename)
#     state_data.to_json(filepath, orient='records')

In [136]:

grouped_df = combined_df.groupby('cityname')
for cityname, cityname_data in grouped_df:
    print(cityname)
    print(cityname_data)
    print()

Adelaide
         cityname  topic  sentiment           coordinate
23       Adelaide      0     0.0000  [34.9285, 138.6007]
28       Adelaide      0     0.6808  [34.9285, 138.6007]
33       Adelaide      0     0.0000  [34.9285, 138.6007]
42       Adelaide      0     0.6215  [34.9285, 138.6007]
66       Adelaide      0     0.0000  [34.9285, 138.6007]
...           ...    ...        ...                  ...
2516475  Adelaide      3    -0.9295  [34.9285, 138.6007]
2516495  Adelaide      3    -0.7269  [34.9285, 138.6007]
2516522  Adelaide      3     0.5413  [34.9285, 138.6007]
2516524  Adelaide      3     0.3182  [34.9285, 138.6007]
2516529  Adelaide      3     0.4404  [34.9285, 138.6007]

[148938 rows x 4 columns]

Albury
        cityname  topic  sentiment            coordinate
182       Albury      0     0.0000  [-36.0737, 146.9135]
3837      Albury      0    -0.6124  [-36.0737, 146.9135]
4866      Albury      0    -0.7906  [-36.0737, 146.9135]
9736      Albury      0     0.4939  [-36.0737, 146.9135]
10155     Albury      0     0.9661  [-36.0737, 146.9135]
...          ...    ...        ...                   ...
2465754   Albury      0     0.5445  [-36.0737, 146.9135]
2465895   Albury      0     0.0000  [-36.0737, 146.9135]
2467472   Albury      0     0.6808  [-36.0737, 146.9135]
2474595   Albury      0     0.0000  [-36.0737, 146.9135]
2480025   Albury      0     0.9381  [-36.0737, 146.9135]

[2045 rows x 4 columns]

Ballarat
         cityname  topic  sentiment            coordinate
1498     Ballarat      0     0.0000  [-37.5622, 143.8503]
1893     Ballarat      0     0.8225  [-37.5622, 143.8503]
2578     Ballarat      0     0.0000  [-37.5622, 143.8503]
4467     Ballarat      0     0.4404  [-37.5622, 143.8503]
4806     Ballarat      0     0.0000  [-37.5622, 143.8503]
...           ...    ...        ...                   ...
2510782  Ballarat      3     0.0000  [-37.5622, 143.8503]
2512229  Ballarat      3    -0.5106  [-37.5622, 143.8503]
2514137  Ballarat      3     0.3400  [-37.5622, 143.8503]
2514685  Ballarat      3     0.0000  [-37.5622, 143.8503]
2516440  Ballarat      3     0.9320  [-37.5622, 143.8503]

[25770 rows x 4 columns]

Bendigo
        cityname  topic  sentiment            coordinate
460      Bendigo      0     0.8225  [-36.7589, 144.2822]
461      Bendigo      0    -0.6597  [-36.7589, 144.2822]
462      Bendigo      0     0.0000  [-36.7589, 144.2822]
1637     Bendigo      0     0.0000  [-36.7589, 144.2822]
4703     Bendigo      0     0.8481  [-36.7589, 144.2822]
...          ...    ...        ...                   ...
2498068  Bendigo      2     0.9337  [-36.7589, 144.2822]
2499169  Bendigo      2    -0.3818  [-36.7589, 144.2822]
2510221  Bendigo      3     0.3400  [-36.7589, 144.2822]
2513462  Bendigo      3     0.0000  [-36.7589, 144.2822]
2514333  Bendigo      3     0.0000  [-36.7589, 144.2822]

[6917 rows x 4 columns]

Brisbane
         cityname  topic  sentiment            coordinate
9        Brisbane      0     0.0000  [-27.4698, 153.0251]
12       Brisbane      0    -0.9272  [-27.4698, 153.0251]
19       Brisbane      0     0.0000  [-27.4698, 153.0251]
20       Brisbane      0    -0.9042  [-27.4698, 153.0251]
44       Brisbane      0     0.0000  [-27.4698, 153.0251]
...           ...    ...        ...                   ...
2516531  Brisbane      3     0.0000  [-27.4698, 153.0251]
2516537  Brisbane      3     0.0000  [-27.4698, 153.0251]
2516544  Brisbane      3     0.0000  [-27.4698, 153.0251]
2516552  Brisbane      3     0.7650  [-27.4698, 153.0251]
2516555  Brisbane      3     0.8356  [-27.4698, 153.0251]

[299672 rows x 4 columns]

Bunbury
        cityname  topic  sentiment            coordinate
1297     Bunbury      1     0.4767  [-33.3271, 115.6414]
5590     Bunbury      0     0.7351  [-33.3271, 115.6414]
6064     Bunbury      0     0.3400  [-33.3271, 115.6414]
8485     Bunbury      2     0.9153  [-33.3271, 115.6414]
10605    Bunbury      0     0.5859  [-33.3271, 115.6414]
...          ...    ...        ...                   ...
2515988  Bunbury      3    -0.9163  [-33.3271, 115.6414]
2516094  Bunbury      3     0.0000  [-33.3271, 115.6414]
2516110  Bunbury      3     0.0000  [-33.3271, 115.6414]
2516176  Bunbury      3    -0.1010  [-33.3271, 115.6414]
2516413  Bunbury      3     0.3182  [-33.3271, 115.6414]

[2959 rows x 4 columns]

Cairns
        cityname  topic  sentiment            coordinate
202       Cairns      0     0.9744  [-16.9186, 145.7781]
707       Cairns      0     0.0000  [-16.9186, 145.7781]
822       Cairns      0     0.9153  [-16.9186, 145.7781]
871       Cairns      0     0.0000  [-16.9186, 145.7781]
1598      Cairns      0     0.3400  [-16.9186, 145.7781]
...          ...    ...        ...                   ...
2516332   Cairns      3     0.5940  [-16.9186, 145.7781]
2516421   Cairns      3     0.3818  [-16.9186, 145.7781]
2516470   Cairns      3     0.5574  [-16.9186, 145.7781]
2516542   Cairns      3    -0.4404  [-16.9186, 145.7781]
2516567   Cairns      3    -0.4939  [-16.9186, 145.7781]

[19037 rows x 4 columns]

Canberra
         cityname  topic  sentiment          coordinate
383      Canberra      0    -0.5859  [-35.2809, 149.13]
435      Canberra      0     0.7783  [-35.2809, 149.13]
586      Canberra      0     0.6597  [-35.2809, 149.13]
640      Canberra      0    -0.0772  [-35.2809, 149.13]
673      Canberra      0     0.6476  [-35.2809, 149.13]
...           ...    ...        ...                 ...
2516297  Canberra      3     0.4168  [-35.2809, 149.13]
2516321  Canberra      3     0.0000  [-35.2809, 149.13]
2516360  Canberra      3    -0.5411  [-35.2809, 149.13]
2516407  Canberra      3    -0.6486  [-35.2809, 149.13]
2516456  Canberra      3     0.5574  [-35.2809, 149.13]

[65232 rows x 4 columns]

Darwin
        cityname  topic  sentiment            coordinate
21        Darwin      0     0.0000  [-12.4634, 130.8456]
27        Darwin      0     0.9678  [-12.4634, 130.8456]
760       Darwin      0     0.0000  [-12.4634, 130.8456]
761       Darwin      0     0.0000  [-12.4634, 130.8456]
799       Darwin      0     0.0000  [-12.4634, 130.8456]
...          ...    ...        ...                   ...
2515989   Darwin      3     0.7351  [-12.4634, 130.8456]
2516197   Darwin      3    -0.9118  [-12.4634, 130.8456]
2516234   Darwin      3     0.3182  [-12.4634, 130.8456]
2516316   Darwin      3    -0.8860  [-12.4634, 130.8456]
2516423   Darwin      3    -0.2023  [-12.4634, 130.8456]

[19593 rows x 4 columns]

Geelong
        cityname  topic  sentiment            coordinate
293      Geelong      0     0.0000  [-38.1499, 144.3617]
418      Geelong      0     0.0000  [-38.1499, 144.3617]
544      Geelong      0     0.0000  [-38.1499, 144.3617]
545      Geelong      0     0.0000  [-38.1499, 144.3617]
546      Geelong      0     0.0000  [-38.1499, 144.3617]
...          ...    ...        ...                   ...
2511796  Geelong      3    -0.5859  [-38.1499, 144.3617]
2512169  Geelong      3    -0.5994  [-38.1499, 144.3617]
2512438  Geelong      3     0.4019  [-38.1499, 144.3617]
2513736  Geelong      3    -0.2716  [-38.1499, 144.3617]
2514131  Geelong      3     0.0000  [-38.1499, 144.3617]

[25726 rows x 4 columns]

Gold Coast
           cityname  topic  sentiment         coordinate
3        Gold Coast      0     0.7269  [-28.0167, 153.4]
39       Gold Coast      0     0.5574  [-28.0167, 153.4]
79       Gold Coast      0     0.0000  [-28.0167, 153.4]
126      Gold Coast      0     0.0000  [-28.0167, 153.4]
129      Gold Coast      0     0.6476  [-28.0167, 153.4]
...             ...    ...        ...                ...
2516447  Gold Coast      3     0.0000  [-28.0167, 153.4]
2516476  Gold Coast      3    -0.1531  [-28.0167, 153.4]
2516496  Gold Coast      3     0.0000  [-28.0167, 153.4]
2516525  Gold Coast      3     0.6705  [-28.0167, 153.4]
2516556  Gold Coast      3    -0.2263  [-28.0167, 153.4]

[100035 rows x 4 columns]

Hobart
        cityname  topic  sentiment            coordinate
30        Hobart      0     0.3818  [-42.8821, 147.3272]
317       Hobart      3     0.0000  [-42.8821, 147.3272]
318       Hobart      0    -0.3612  [-42.8821, 147.3272]
319       Hobart      0     0.0000  [-42.8821, 147.3272]
501       Hobart      0     0.0000  [-42.8821, 147.3272]
...          ...    ...        ...                   ...
2515142   Hobart      3     0.0000  [-42.8821, 147.3272]
2515209   Hobart      3     0.4404  [-42.8821, 147.3272]
2515368   Hobart      3    -0.3400  [-42.8821, 147.3272]
2516363   Hobart      3    -0.9889  [-42.8821, 147.3272]
2516536   Hobart      3     0.6077  [-42.8821, 147.3272]

[35622 rows x 4 columns]

Launceston
           cityname  topic  sentiment            coordinate
82       Launceston      0     0.0000  [-41.4545, 147.1317]
531      Launceston      0     0.5859  [-41.4545, 147.1317]
1260     Launceston      0     0.7269  [-41.4545, 147.1317]
1364     Launceston      0    -0.4003  [-41.4545, 147.1317]
2520     Launceston      0     0.0000  [-41.4545, 147.1317]
...             ...    ...        ...                   ...
2511835  Launceston      3     0.3382  [-41.4545, 147.1317]
2511914  Launceston      3     0.4019  [-41.4545, 147.1317]
2512004  Launceston      3     0.0000  [-41.4545, 147.1317]
2513230  Launceston      3    -0.1779  [-41.4545, 147.1317]
2514196  Launceston      3     0.0000  [-41.4545, 147.1317]

[9149 rows x 4 columns]

Mackay
        cityname  topic  sentiment           coordinate
1913      Mackay      0     0.0000  [21.1534, 149.1658]
2469      Mackay      0     0.4588  [21.1534, 149.1658]
6810      Mackay      0     0.2732  [21.1534, 149.1658]
8769      Mackay      0     0.0000  [21.1534, 149.1658]
10761     Mackay      0     0.9571  [21.1534, 149.1658]
...          ...    ...        ...                  ...
2484841   Mackay      0     0.2732  [21.1534, 149.1658]
2504581   Mackay      3    -0.2732  [21.1534, 149.1658]
2509693   Mackay      3    -0.7506  [21.1534, 149.1658]
2514649   Mackay      3    -0.5719  [21.1534, 149.1658]
2516563   Mackay      3     0.0000  [21.1534, 149.1658]

[5484 rows x 4 columns]

Mandurah
         cityname  topic  sentiment            coordinate
52262    Mandurah      0    -0.8957  [-32.5361, 115.7424]
654283   Mandurah      0     0.9940  [-32.5361, 115.7424]
954436   Mandurah      0     0.0000  [-32.5361, 115.7424]
1045816  Mandurah      0     0.0000  [-32.5361, 115.7424]
1308180  Mandurah      0     0.9371  [-32.5361, 115.7424]
1512486  Mandurah      0     0.0000  [-32.5361, 115.7424]
1610930  Mandurah      0     0.2023  [-32.5361, 115.7424]
2208192  Mandurah      0     0.0000  [-32.5361, 115.7424]
2488430  Mandurah      1    -0.9042  [-32.5361, 115.7424]
2495065  Mandurah      2     0.4019  [-32.5361, 115.7424]
2497414  Mandurah      2     0.6124  [-32.5361, 115.7424]
2506138  Mandurah      3     0.4019  [-32.5361, 115.7424]
2506180  Mandurah      3     0.8555  [-32.5361, 115.7424]
2506365  Mandurah      3     0.6588  [-32.5361, 115.7424]
2507892  Mandurah      3    -0.5574  [-32.5361, 115.7424]
2509572  Mandurah      3     0.0000  [-32.5361, 115.7424]
2509930  Mandurah      3     0.4404  [-32.5361, 115.7424]
2512117  Mandurah      3     0.7650  [-32.5361, 115.7424]
2512933  Mandurah      3     0.0000  [-32.5361, 115.7424]
2513661  Mandurah      3     0.0516  [-32.5361, 115.7424]
2513800  Mandurah      3     0.8834  [-32.5361, 115.7424]
2513953  Mandurah      3    -0.9217  [-32.5361, 115.7424]

Melbourne
          cityname  topic  sentiment            coordinate
0        Melbourne      0     0.0000  [-37.8136, 144.9631]
1        Melbourne      0     0.0000  [-37.8136, 144.9631]
8        Melbourne      0     0.6124  [-37.8136, 144.9631]
11       Melbourne      0     0.4588  [-37.8136, 144.9631]
24       Melbourne      0     0.0000  [-37.8136, 144.9631]
...            ...    ...        ...                   ...
2516554  Melbourne      3     0.0000  [-37.8136, 144.9631]
2516558  Melbourne      3     0.0000  [-37.8136, 144.9631]
2516559  Melbourne      3     0.0000  [-37.8136, 144.9631]
2516561  Melbourne      3     0.0000  [-37.8136, 144.9631]
2516562  Melbourne      3     0.0000  [-37.8136, 144.9631]

[723992 rows x 4 columns]

Newcastle
          cityname  topic  sentiment          coordinate
97       Newcastle      0     0.9334  [-32.9167, 151.75]
108      Newcastle      0     0.7574  [-32.9167, 151.75]
110      Newcastle      0     0.0000  [-32.9167, 151.75]
304      Newcastle      0     0.7263  [-32.9167, 151.75]
479      Newcastle      0     0.8516  [-32.9167, 151.75]
...            ...    ...        ...                 ...
2516285  Newcastle      3     0.8271  [-32.9167, 151.75]
2516287  Newcastle      3     0.6808  [-32.9167, 151.75]
2516401  Newcastle      3     0.4019  [-32.9167, 151.75]
2516511  Newcastle      3    -0.5362  [-32.9167, 151.75]
2516513  Newcastle      3    -0.5661  [-32.9167, 151.75]

[34384 rows x 4 columns]

Perth
        cityname  topic  sentiment            coordinate
5          Perth      0    -0.0772  [-31.9505, 115.8605]
10         Perth      0     0.0000  [-31.9505, 115.8605]
29         Perth      2     0.8999  [-31.9505, 115.8605]
36         Perth      0     0.9366  [-31.9505, 115.8605]
37         Perth      0     0.0000  [-31.9505, 115.8605]
...          ...    ...        ...                   ...
2516445    Perth      3    -0.3987  [-31.9505, 115.8605]
2516473    Perth      3     0.4215  [-31.9505, 115.8605]
2516481    Perth      3    -0.9402  [-31.9505, 115.8605]
2516485    Perth      3     0.5983  [-31.9505, 115.8605]
2516533    Perth      3    -0.2500  [-31.9505, 115.8605]

[207283 rows x 4 columns]

Rockhampton
            cityname  topic  sentiment          coordinate
2        Rockhampton      0     0.8928  [-23.3774, 150.51]
3096     Rockhampton      0     0.5093  [-23.3774, 150.51]
4788     Rockhampton      0     0.0000  [-23.3774, 150.51]
9394     Rockhampton      0     0.4939  [-23.3774, 150.51]
9799     Rockhampton      0     0.7712  [-23.3774, 150.51]
...              ...    ...        ...                 ...
2515122  Rockhampton      3     0.4404  [-23.3774, 150.51]
2515403  Rockhampton      3    -0.5994  [-23.3774, 150.51]
2515555  Rockhampton      3     0.6486  [-23.3774, 150.51]
2516187  Rockhampton      3     0.7430  [-23.3774, 150.51]
2516281  Rockhampton      3    -0.2732  [-23.3774, 150.51]

[4089 rows x 4 columns]

Sunshine Coast
               cityname  topic  sentiment          coordinate
135      Sunshine Coast      0     0.0000  [-26.65, 153.0667]
542      Sunshine Coast      0     0.0000  [-26.65, 153.0667]
569      Sunshine Coast      0     0.0000  [-26.65, 153.0667]
611      Sunshine Coast      0     0.9274  [-26.65, 153.0667]
770      Sunshine Coast      0     0.5267  [-26.65, 153.0667]
...                 ...    ...        ...                 ...
2510641  Sunshine Coast      3     0.3939  [-26.65, 153.0667]
2510839  Sunshine Coast      3     0.5719  [-26.65, 153.0667]
2512818  Sunshine Coast      3     0.0000  [-26.65, 153.0667]
2513652  Sunshine Coast      3     0.0000  [-26.65, 153.0667]
2514674  Sunshine Coast      3    -0.7345  [-26.65, 153.0667]

[26066 rows x 4 columns]

Sydney
        cityname  topic  sentiment            coordinate
6         Sydney      0     0.0000  [-33.8688, 151.2093]
7         Sydney      0     0.0000  [-33.8688, 151.2093]
13        Sydney      0     0.7717  [-33.8688, 151.2093]
14        Sydney      0     0.8481  [-33.8688, 151.2093]
15        Sydney      0     0.0000  [-33.8688, 151.2093]
...          ...    ...        ...                   ...
2516557   Sydney      3     0.0000  [-33.8688, 151.2093]
2516560   Sydney      3     0.6705  [-33.8688, 151.2093]
2516564   Sydney      3    -0.4767  [-33.8688, 151.2093]
2516565   Sydney      3     0.2023  [-33.8688, 151.2093]
2516566   Sydney      3    -0.7906  [-33.8688, 151.2093]

[730531 rows x 4 columns]

Toowoomba
          cityname  topic  sentiment        coordinate
4        Toowoomba      0     0.0000  [-27.56, 151.95]
71       Toowoomba      0     0.6360  [-27.56, 151.95]
178      Toowoomba      0     0.0000  [-27.56, 151.95]
1633     Toowoomba      0     0.0000  [-27.56, 151.95]
2715     Toowoomba      0     0.0000  [-27.56, 151.95]
...            ...    ...        ...               ...
2508791  Toowoomba      3     0.0000  [-27.56, 151.95]
2509439  Toowoomba      3     0.5574  [-27.56, 151.95]
2510512  Toowoomba      3    -0.1027  [-27.56, 151.95]
2512967  Toowoomba      3     0.0000  [-27.56, 151.95]
2515169  Toowoomba      3     0.6553  [-27.56, 151.95]

[3879 rows x 4 columns]

Townsville
           cityname  topic  sentiment            coordinate
144      Townsville      0    -0.4926  [-19.2589, 146.8169]
146      Townsville      2     0.5574  [-19.2589, 146.8169]
185      Townsville      0     0.9686  [-19.2589, 146.8169]
643      Townsville      0     0.6597  [-19.2589, 146.8169]
717      Townsville      0     0.0000  [-19.2589, 146.8169]
...             ...    ...        ...                   ...
2511116  Townsville      3     0.7418  [-19.2589, 146.8169]
2511411  Townsville      3     0.0000  [-19.2589, 146.8169]
2513374  Townsville      3     0.0000  [-19.2589, 146.8169]
2515839  Townsville      3    -0.5423  [-19.2589, 146.8169]
2516392  Townsville      3    -0.8126  [-19.2589, 146.8169]

[20143 rows x 4 columns]

In [137]:
# final_df1=pd.DataFrame(columns=['name','coordinate','topic','sentiment','count'])
df1=df_au[df_au['topic']==1]
grouped_df1=df1.groupby('cityname')
dict_list=[]
for cityname, cityname_data in grouped_df1:
    d={}
    d['name']=cityname_data['cityname'].iloc[0]
    d['coordinate']=cityname_data['coordinate'].iloc[0]
    # positive_ratio = cityname_data['sentiment'].value_counts(normalize=True)['Positive']
    # d['sentiment_pos']=positive_ratio
    # d['sentiment_neu']=0
    # d['sentiment_neg']=0
    # has_neutral_value = cityname_data['sentiment'] == 'Neutral'
    # if has_neutral_value.any():
    #     neutral_ratio = cityname_data['sentiment'].value_counts(normalize=True)['Neutral']
    #     d['sentiment_neu']=neutral_ratio
    # has_negative_value = cityname_data['sentiment'] == 'Neutral'
    # if has_negative_value.any():
    #     negative_ratio = cityname_data['sentiment'].value_counts(normalize=True)['Negative']
    #     d['sentiment_neg']=negative_ratio
    d['sentiment']=panduan(cityname_data['sentiment'].mean())
    d['count']=cityname_data['cityname'].count()
    dict_list.append(d)
final_tdf1=pd.DataFrame(dict_list)
print(final_tdf1)

              name            coordinate sentiment  count
0         Adelaide   [34.9285, 138.6007]  Positive    509
1           Albury  [-36.0737, 146.9135]  Positive      1
2         Ballarat  [-37.5622, 143.8503]  Negative    156
3          Bendigo  [-36.7589, 144.2822]  Positive     42
4         Brisbane  [-27.4698, 153.0251]  Positive   1438
5          Bunbury  [-33.3271, 115.6414]  Positive      5
6           Cairns  [-16.9186, 145.7781]  Positive     43
7         Canberra    [-35.2809, 149.13]  Positive    196
8           Darwin  [-12.4634, 130.8456]  Positive     74
9          Geelong  [-38.1499, 144.3617]   Neutral     39
10      Gold Coast     [-28.0167, 153.4]  Positive    355
11          Hobart  [-42.8821, 147.3272]  Positive     98
12      Launceston  [-41.4545, 147.1317]  Positive     19
13          Mackay   [21.1534, 149.1658]  Positive    104
14       Melbourne  [-37.8136, 144.9631]  Positive   3027
15       Newcastle    [-32.9167, 151.75]  Positive    139
16           Perth  [-31.9505, 115.8605]  Positive    606
17     Rockhampton    [-23.3774, 150.51]  Positive     11
18  Sunshine Coast    [-26.65, 153.0667]  Positive    108
19          Sydney  [-33.8688, 151.2093]  Positive   5727
20       Toowoomba      [-27.56, 151.95]  Positive     12
21      Townsville  [-19.2589, 146.8169]  Positive     76

In [138]:
df2=df_au[df_au['topic']==2]
grouped_df2=df2.groupby('cityname')
dict_list=[]
for cityname, cityname_data in grouped_df2:
    # print(cityname)
    # print(cityname_data)
    # final_df1['name']=cityname
    d={}
    d['name']=cityname_data['cityname'].iloc[0]
    d['coordinate']=cityname_data['coordinate'].iloc[0]
    # positive_ratio = cityname_data['sentiment'].value_counts(normalize=True)['Positive']
    # neutral_ratio = cityname_data['sentiment'].value_counts(normalize=True)['Neutral']
    # negative_ratio = cityname_data['sentiment'].value_counts(normalize=True)['Negative']
    # d['sentiment_pos']=positive_ratio
    # d['sentiment_neu']=neutral_ratio
    # d['sentiment_neg']=negative_ratio
    d['sentiment']=panduan(cityname_data['sentiment'].mean())
    d['count']=cityname_data['cityname'].count()
    dict_list.append(d)
final_tdf2=pd.DataFrame(dict_list)
print(final_tdf2)

              name            coordinate sentiment  count
0         Adelaide   [34.9285, 138.6007]  Positive   3292
1           Albury  [-36.0737, 146.9135]  Positive     57
2         Ballarat  [-37.5622, 143.8503]  Positive    608
3          Bendigo  [-36.7589, 144.2822]  Positive    135
4         Brisbane  [-27.4698, 153.0251]  Positive   6422
5          Bunbury  [-33.3271, 115.6414]  Positive     61
6           Cairns  [-16.9186, 145.7781]  Positive    409
7         Canberra    [-35.2809, 149.13]  Positive   1399
8           Darwin  [-12.4634, 130.8456]  Positive    548
9          Geelong  [-38.1499, 144.3617]  Positive    658
10      Gold Coast     [-28.0167, 153.4]  Positive   1687
11          Hobart  [-42.8821, 147.3272]  Positive    798
12      Launceston  [-41.4545, 147.1317]  Positive    291
13          Mackay   [21.1534, 149.1658]   Neutral    162
14       Melbourne  [-37.8136, 144.9631]  Positive  19313
15       Newcastle    [-32.9167, 151.75]  Positive    630
16           Perth  [-31.9505, 115.8605]  Positive   4094
17     Rockhampton    [-23.3774, 150.51]  Positive    173
18  Sunshine Coast    [-26.65, 153.0667]  Positive    497
19          Sydney  [-33.8688, 151.2093]  Positive  15412
20       Toowoomba      [-27.56, 151.95]  Positive    121
21      Townsville  [-19.2589, 146.8169]  Positive    335

In [139]:
tdf3=df_au[df_au['topic']==3]
grouped_df3=tdf3.groupby('cityname')
dict_list=[]
for cityname, cityname_data in grouped_df3:
    # print(cityname)
    # print(cityname_data)
    # final_df1['name']=cityname
    d={}
    d['name']=cityname_data['cityname'].iloc[0]
    d['coordinate']=cityname_data['coordinate'].iloc[0]
    # positive_ratio = cityname_data['sentiment'].value_counts(normalize=True)['Positive']
    # neutral_ratio = cityname_data['sentiment'].value_counts(normalize=True)['Neutral']
    # negative_ratio = cityname_data['sentiment'].value_counts(normalize=True)['Negative']
    # d['sentiment_pos']=positive_ratio
    # d['sentiment_neu']=neutral_ratio
    # d['sentiment_neg']=negative_ratio
    d['sentiment']=panduan(cityname_data['sentiment'].mean())
    d['count']=cityname_data['cityname'].count()
    dict_list.append(d)
final_tdf3=pd.DataFrame(dict_list)
print(final_tdf3)

              name            coordinate sentiment  count
0         Adelaide   [34.9285, 138.6007]  Positive   1603
1           Albury  [-36.0737, 146.9135]  Positive     13
2         Ballarat  [-37.5622, 143.8503]  Positive    167
3          Bendigo  [-36.7589, 144.2822]  Positive     59
4         Brisbane  [-27.4698, 153.0251]  Positive   4349
5          Bunbury  [-33.3271, 115.6414]  Positive     21
6           Cairns  [-16.9186, 145.7781]  Positive    162
7         Canberra    [-35.2809, 149.13]  Positive    872
8           Darwin  [-12.4634, 130.8456]  Positive    119
9          Geelong  [-38.1499, 144.3617]  Positive    215
10      Gold Coast     [-28.0167, 153.4]  Positive    992
11          Hobart  [-42.8821, 147.3272]  Positive    460
12      Launceston  [-41.4545, 147.1317]  Positive    126
13          Mackay   [21.1534, 149.1658]  Positive     86
14       Melbourne  [-37.8136, 144.9631]  Positive   6989
15       Newcastle    [-32.9167, 151.75]  Positive    386
16           Perth  [-31.9505, 115.8605]  Positive   1812
17     Rockhampton    [-23.3774, 150.51]  Positive     36
18  Sunshine Coast    [-26.65, 153.0667]  Positive    261
19          Sydney  [-33.8688, 151.2093]  Positive   6587
20       Toowoomba      [-27.56, 151.95]  Positive     39
21      Townsville  [-19.2589, 146.8169]  Positive    138

In [119]:
import os
# grouped_df = df_au.groupby('cityname')
json_file_path = '/Users/demi/Desktop/ccc_asm2/'

# Define the output directory
output_directory = '/Users/demi/Desktop/ccc_asm2/combined_output'

# Create the output directory if it doesn't exist
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Save each group to separate JSON files in the output directory

filename = "topic3.json"
filepath = os.path.join(output_directory, filename)
final_tdf3.to_json(filepath, orient='records')

## Mastodon

In [133]:
# import SentimentIntensityAnalyzer class
# from vaderSentiment.vaderSentiment module.
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pandas as pd
import json
import re
import nltk.corpus
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer
import random

stop = stopwords.words('english')
json_file_path='/Users/demi/Desktop/ccc_asm2/mastodon_rent_content.json'
def clean_mastodon(s):
    test= True
    while test:
        if '<' in s:
            x1=s.index('<')
            x2=s.index('>')+1
            x3=s[x1:x2]
            s=s.replace(x3,"")
        else:
            test=False
    s=s.lower()
    # Delete the @
    s = re.sub(r"@[A-Za-z0-9]+", ' ', s)
    # Delete URL links
    s = re.sub(r"https?://[A-Za-z0-9./]+", ' ', s)
    # Just keep letters and important punctuation
    s = re.sub(r"[^a-zA-Z.!?']", ' ', s)
    # Remove additional spaces
    s = re.sub(r" +", ' ', s)
    cleaned_s=' '.join( [w for w in s.split() if len(w)>1] )
    return cleaned_s
# function to print sentiments
# of the sentence.
def panduan(i):
    if i>=0.05:
        s='Positive'
    elif i<= -0.05:
        s='Negative'
    else:
        s='Neutral'
    return s

def sentiment_scores(sentence_list):
	# Create a SentimentIntensityAnalyzer object.
	sid_obj = SentimentIntensityAnalyzer()
	sentiment=[]
	for sentence in sentence_list:
		sentence_dict = sid_obj.polarity_scores(sentence)
		sentiment.append(sentence_dict['compound'])
	return sentiment


content=[]
for line in open(json_file_path, 'r',encoding='utf-8'):
    item=json.loads(line)
    content.append(clean_twitter(item['content']))
# city = random.sample(range(0, 23), len(content))
# df = pd.DataFrame({'content': content, 'sentiment': sentiment_scores(content),'city':city})

[nltk_data] Downloading package stopwords to /Users/Demi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [134]:
weights=[45,31,15,7,5,3,2,1.5,1,1,0.7,0.6,0.5,0.1,0.1,0.1,0.1,0.1,0.08,0.05,0.05,0.02]
aucity1=[{'Sydney':[-33.8688, 151.2093]},{'Melbourne':[-37.8136, 144.9631]},{'Brisbane':[-27.4698, 153.0251]},{'Perth':[-31.9505, 115.8605]},{'Adelaide':[34.9285, 138.6007]},{'Gold Coast':[-28.0167, 153.4000]},{'Canberra':[-35.2809, 149.1300]},{'Newcastle':[-32.9167, 151.7500]},{'Hobart':[-42.8821, 147.3272]},{'Darwin':[-12.4634, 130.8456]},{'Cairns':[-16.9186, 145.7781]},{'Rockhampton':[-23.3774,150.5100]},{'Bunbury':[-33.3271,115.6414]},{'Sunshine Coast':[-26.6500,153.0667]},{'Toowoomba':[-27.5600, 151.9500]},{'Geelong':[-38.1499, 144.3617]},{'Townsville':[-19.2589, 146.8169]},{'Launceston':[-41.4545, 147.1317]},{'Ballarat':[-37.5622, 143.8503]},{'Bendigo':[-36.7589, 144.2822]},{'Mandurah':[-32.5361,115.7424]},{'Mackay':[21.1534, 149.1658]},{'Albury':[-36.0737,146.9135]}]
aucity={'Sydney':[-33.8688, 151.2093],'Melbourne':[-37.8136, 144.9631],'Brisbane':[-27.4698, 153.0251],'Perth':[-31.9505, 115.8605],'Adelaide':[34.9285, 138.6007],'Gold Coast':[-28.0167, 153.4000],'Canberra':[-35.2809, 149.1300],'Newcastle':[-32.9167, 151.7500],'Hobart':[-42.8821, 147.3272],'Darwin':[-12.4634, 130.8456],'Cairns':[-16.9186, 145.7781],'Rockhampton':[-23.3774,150.5100],'Bunbury':[-33.3271,115.6414],'Sunshine Coast':[-26.6500,153.0667],'Toowoomba':[-27.5600, 151.9500],'Geelong':[-38.1499, 144.3617],'Townsville':[-19.2589, 146.8169],'Launceston':[-41.4545, 147.1317],'Ballarat':[-37.5622, 143.8503],'Bendigo':[-36.7589, 144.2822],'Mandurah':[-32.5361,115.7424],'Mackay':[21.1534, 149.1658],'Albury':[-36.0737,146.9135]}
city = [ str(aucity1[i].keys()).split('\'')[1] for i in city]
coordinate=[aucity[i] for i in city]
df3 = pd.DataFrame({'cityname':city,'topic':[3]*len(content),'sentiment': sentiment_scores(content),'coordinate':coordinate})
df3

        cityname  topic  sentiment            coordinate
0         Sydney      3     0.4199  [-33.8688, 151.2093]
1         Sydney      3     0.6369  [-33.8688, 151.2093]
2       Brisbane      3    -0.3818  [-27.4698, 153.0251]
3       Brisbane      3    -0.7506  [-27.4698, 153.0251]
4      Melbourne      3     0.8271  [-37.8136, 144.9631]
...          ...    ...        ...                   ...
15939     Mackay      3     0.0000   [21.1534, 149.1658]
15940     Sydney      3    -0.4767  [-33.8688, 151.2093]
15941     Sydney      3     0.2023  [-33.8688, 151.2093]
15942     Sydney      3    -0.7906  [-33.8688, 151.2093]
15943     Cairns      3    -0.4939  [-16.9186, 145.7781]

[15944 rows x 4 columns]

In [46]:
# df1=df
grouped_df1=df1.groupby('city')
dict_list=[]
for cityname, cityname_data in grouped_df1:
    d={}
    d['name']=cityname_data['city'].iloc[0]
    d['coordinate']=cityname_data['coordinate'].iloc[0]
    # d['sentiment']=panduan(cityname_data['sentiment'].mean())
    d['sentiment']=cityname_data['sentiment'].mean()
    d['count']=cityname_data['city'].count()
    # print(d)
    dict_list.append(d)
final_df1=pd.DataFrame(dict_list)
print(final_df1)

              name            coordinate  sentiment  count
0         Adelaide   [34.9285, 138.6007]   0.128522    313
1         Ballarat  [-37.5622, 143.8503]  -0.087850      2
2          Bendigo  [-36.7589, 144.2822]  -0.045900      3
3         Brisbane  [-27.4698, 153.0251]   0.083253    911
4          Bunbury  [-33.3271, 115.6414]   0.177597     33
5           Cairns  [-16.9186, 145.7781]   0.116037     46
6         Canberra    [-35.2809, 149.13]   0.145404    139
7           Darwin  [-12.4634, 130.8456]  -0.050575     60
8          Geelong  [-38.1499, 144.3617]   0.189757      7
9       Gold Coast     [-28.0167, 153.4]   0.065419    189
10          Hobart  [-42.8821, 147.3272]   0.015928     53
11      Launceston  [-41.4545, 147.1317]   0.465100      4
12          Mackay   [21.1534, 149.1658]   0.735100      1
13        Mandurah  [-32.5361, 115.7424]   0.300675      4
14       Melbourne  [-37.8136, 144.9631]   0.094370   1975
15       Newcastle    [-32.9167, 151.75]   0.070359     92
16           Perth  [-31.9505, 115.8605]   0.080433    428
17     Rockhampton    [-23.3774, 150.51]   0.075184     31
18  Sunshine Coast    [-26.65, 153.0667]  -0.000943      7
19          Sydney  [-33.8688, 151.2093]   0.102838   2811
20       Toowoomba      [-27.56, 151.95]  -0.152217      6
21      Townsville  [-19.2589, 146.8169]   0.327817      6

In [54]:
# df2=df
grouped_df2=df2.groupby('city')
dict_list=[]
for cityname, cityname_data in grouped_df2:
    d={}
    d['name']=cityname_data['city'].iloc[0]
    d['coordinate']=cityname_data['coordinate'].iloc[0]
    # d['sentiment']=panduan(cityname_data['sentiment'].mean())
    d['sentiment']=cityname_data['sentiment'].mean()
    d['count']=cityname_data['city'].count()
    # print(d)
    dict_list.append(d)
final_df2=pd.DataFrame(dict_list)
print(final_df2)

              name            coordinate  sentiment  count
0         Adelaide   [34.9285, 138.6007]   0.086216    385
1         Ballarat  [-37.5622, 143.8503]  -0.249383     12
2          Bendigo  [-36.7589, 144.2822]   0.301383      6
3         Brisbane  [-27.4698, 153.0251]   0.103953   1091
4          Bunbury  [-33.3271, 115.6414]   0.124665     46
5           Cairns  [-16.9186, 145.7781]   0.094893     46
6         Canberra    [-35.2809, 149.13]   0.024932    148
7           Darwin  [-12.4634, 130.8456]   0.058275     68
8          Geelong  [-38.1499, 144.3617]  -0.077438      8
9       Gold Coast     [-28.0167, 153.4]   0.143150    207
10          Hobart  [-42.8821, 147.3272]   0.104953     77
11      Launceston  [-41.4545, 147.1317]   0.505600      5
12        Mandurah  [-32.5361, 115.7424]  -0.246950      2
13       Melbourne  [-37.8136, 144.9631]   0.106091   2262
14       Newcastle    [-32.9167, 151.75]   0.162768    122
15           Perth  [-31.9505, 115.8605]   0.110213    516
16     Rockhampton    [-23.3774, 150.51]   0.111410     49
17  Sunshine Coast    [-26.65, 153.0667]   0.192022      9
18          Sydney  [-33.8688, 151.2093]   0.111034   3406
19       Toowoomba      [-27.56, 151.95]   0.170560      5
20      Townsville  [-19.2589, 146.8169]   0.114431     13

In [51]:
# df3=df
grouped_df3=df3.groupby('city')
dict_list=[]
for cityname, cityname_data in grouped_df3:
    d={}
    d['name']=cityname_data['city'].iloc[0]
    d['coordinate']=cityname_data['coordinate'].iloc[0]
    # d['sentiment']=panduan(cityname_data['sentiment'].mean())
    d['sentiment']=cityname_data['sentiment'].mean()
    d['count']=cityname_data['city'].count()
    # print(d)
    dict_list.append(d)
final_df3=pd.DataFrame(dict_list)
print(final_df3)

              name            coordinate  sentiment  count
0         Adelaide   [34.9285, 138.6007]   0.083119    697
1         Ballarat  [-37.5622, 143.8503]  -0.094885     13
2          Bendigo  [-36.7589, 144.2822]  -0.426000      5
3         Brisbane  [-27.4698, 153.0251]   0.066418   2143
4          Bunbury  [-33.3271, 115.6414]   0.002275     63
5           Cairns  [-16.9186, 145.7781]   0.024079     94
6         Canberra    [-35.2809, 149.13]   0.077526    320
7           Darwin  [-12.4634, 130.8456]   0.053322    153
8          Geelong  [-38.1499, 144.3617]   0.283411      9
9       Gold Coast     [-28.0167, 153.4]   0.069141    409
10          Hobart  [-42.8821, 147.3272]   0.053886    138
11      Launceston  [-41.4545, 147.1317]   0.198247     19
12          Mackay   [21.1534, 149.1658]  -0.474275      4
13        Mandurah  [-32.5361, 115.7424]  -0.299357      7
14       Melbourne  [-37.8136, 144.9631]   0.079317   4276
15       Newcastle    [-32.9167, 151.75]   0.128827    222
16           Perth  [-31.9505, 115.8605]   0.063525    954
17     Rockhampton    [-23.3774, 150.51]   0.079020     88
18  Sunshine Coast    [-26.65, 153.0667]   0.248790     10
19          Sydney  [-33.8688, 151.2093]   0.072271   6288
20       Toowoomba      [-27.56, 151.95]  -0.150158     19
21      Townsville  [-19.2589, 146.8169]  -0.096292     13

In [158]:
import os
# grouped_df = df_au.groupby('cityname')
json_file_path = '/Users/demi/Desktop/ccc_asm2/'

# Define the output directory
output_directory = '/Users/demi/Desktop/ccc_asm2/output_mastodon'

# Create the output directory if it doesn't exist
if not os.path.exists(output_directory):
    os.makedirs(output_directory)

# Save each group to separate JSON files in the output directory

filename = "rent.json"
filepath = os.path.join(output_directory, filename)
final_df3.to_json(filepath, orient='records')